html {
    font-size: 62.5%;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Titillium Web', sans-serif;
*/

body {
    font-family: 'Open Sans', sans-serif;
    color: #808080;
}


@import 'layout';
@import 'headernavbar';
@import 'auth/signin';
@import 'auth/signup';
@import 'page-title';
@import 'form-fields';
@import 'details';

// ACOUNT
@import 'account/account';
@import 'account/account-information';
@import 'account/purchase-history';

// SHOP
@import 'shop/shop';
@import 'shop/shop-search-bar';
@import 'shop/shop-product';
@import 'shop/shop-cart';
@import 'shop/cart-product';

// QUANTITY
@import 'quantity';
@import 'green-price-tag';

// REVIEW
@import 'order/review';